 
 
 /* Universal Selectors */
 *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    /* NavBar Section */

 .nav{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border: 2px solid black;
     border-left: none;
     border-right: none;
 }
#logooo{
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;

}
 #login p{
    height: 50px;
    width: 100px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
 }


 /* Home Section */
 .home{
    height: 100vh;
    width: 100vw;
    background-image: url(/imges/istockphoto-1136817041-1024x1024.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
 }

 .contentHome{
    
    height: 80vh;
    width: 100vw;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .contentHome > h1{
    text-align: center;
    font-size: 40px;
    font-weight: 900;

 }
 .contentHome > p{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
 }
 .contentHome > button{
    padding: 25px;
    background-color: blue;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
 }

 .youTubCon{
    height: 80%;
    width: 60%;
    background-color: rgb(248, 249, 249);
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: auto;
    border-radius: 10px;
    padding: 20px;
    padding-top: 70px;
 }
 .someIcon{
    height: 50vh;
    width: 30vw;
    margin-top:20px ;
    display: flex;
    flex-direction: column;
}



/* Third Section */
.ThirdSection{
    height: 80vh;
    width: 100vw;
    margin-top: 380px;
}   
.ThirdSectioncd{
     display: flex;
    justify-content: center;
    text-align: center;
}
.lg{
    height: 250px;
    width: 170px;
    margin: 70px;
   text-align: center;
}
.mesg{

    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
}
#ii{
    font-size: 50px;
    padding-top: 20px;
}


/* Fourth Section */

.FourthSection{
    height: 90vh;
    width: 100vw;
    background-color: rgba(7, 50, 191, 0.191);
  
}
.FourthSection > h1{
    height:80px;
    width: inherit;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.vijay{

    width: 300px;
    height: 70vh;
    margin: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    text-align: start;
     
}
.vijay > p{
    color: green;
}
p{
    color: gray;
}
.pic{
    height: 10%;
    width: inherit;
    display: flex;
    justify-content: space-evenly;
}
.bussnessmans{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
}

.pic > img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}



/* Fifth Section */
.fifth{
    margin-top: 70px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.question{
    height: inherit;
    width: 50%;
    margin-top: 50px;

}

.cont{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.091);
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;

}


/* Footer Block */
.foot{
    height: 100%;
    width: 100vw;
    margin-top:270px;
    background-color: rgba(137, 43, 226, 0.21);
    display: flex;
    justify-content: center;
    align-items: center;

}
.firstfoot{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.firstfoot > button{
    height: 50px;
    padding: 7px;
    border-radius: 30px;
}
.SecoundFoot{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center; 
}
.about{
    height: 70%;
    width: 200px;
}
.Copy{
    border-top: 1px solid rgba(0, 0, 0, 0.161);
    height: 50px;
    width:80% ;
    margin: auto;
    display: flex;
     justify-content: center;
     padding-top: 30px;
}

#sto{
    margin-top: 20px;
 height: 80px;
 width: 100px;
}
